
body.v6.newonsteam {
	background: #1b2838;
}

body.v6.newonsteam .newonsteam_headercaps > a {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#356580+0,407999+100 */
	background: rgb(53,101,128); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(53,101,128,1) 0%, rgba(64,121,153,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(53,101,128,1) 0%,rgba(64,121,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(53,101,128,1) 0%,rgba(64,121,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356580', endColorstr='#407999',GradientType=1 ); /* IE6-9 */
	min-height: 279px;
	vertical-align: top;
}
body.v6.newonsteam .newonsteam_headercaps a:first-child {
	margin-right: 20px;
}
body.v6.newonsteam .newonsteam_headercaps img {
	width: 460px;
}

.newonsteam_headercaps {
	min-height: 145px;
	font-size: 0;
}

.newonsteam_headercaps .newonsteam_headercap {
	width: 460px;
	margin-bottom: 1px;
	float: none;
	display: inline-block;
	font-size: 12px;
	position: relative;
}

.tab_content_title {
	display: none; /*Tablet only*/
}


.bucket {
	margin: 45px 0;
}
.bucket h2 {
	padding-bottom: 8px;
}



.underfive {
	position: absolute;
	width: 308px;
	margin-top: 20px;
}

.bucket .store_capsule {
	width: 230px;
	height: 135px;
}

.stats_rec_bucket .store_capsule {
	width: 230px;
	height: 330px;
	background: #303e4f;
	box-shadow: none;
}

.stats_rec_bucket .tiny_store_capsule {
	width: 120px;
	height: 45px;
	background: #303e4f;
	box-shadow: none;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.stats_rec_container_even {
	background: #5f1ea1;
}

.stats_rec_container_odd {
	background: #1123a1;
}

body.v6 .newonsteam_capsules > a {
	box-shadow: 0 0 12px #000000;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#233d4f+0,2a485e+100 */
	background: rgb(35,61,79); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(35,61,79,1) 0%, rgba(42,72,94,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(35,61,79,1) 0%,rgba(42,72,94,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(35,61,79,1) 0%,rgba(42,72,94,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233d4f', endColorstr='#2a485e',GradientType=1 ); /* IE6-9 */

}
body.v6 .newonsteam_capsules > a:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#386b87+0,4482a3+100 */
	background: rgb(56,107,135); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(56,107,135,1) 0%, rgba(68,130,163,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(56,107,135,1) 0%,rgba(68,130,163,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(56,107,135,1) 0%,rgba(68,130,163,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#386b87', endColorstr='#4482a3',GradientType=1 ); /* IE6-9 */
}
body.v6.newonsteam .page_header_ctn {
	background: none;
}

.newonsteam_capsules > a > div.info {
	padding: 10px 15px 15px 15px;
	color: #c7d5e0;
	font-size: 17px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 200; /* thin */

		}



.newonsteam_capsules > a > div .discount_prices {
	color: #67c1f5;
}


@media screen and (max-width: 910px)
{

	html.responsive body.v6.newonsteam .newonsteam_headercaps .newonsteam_headercap img {
		width: 100%;
	}

	html.responsive .newonsteam .home_ctn {
		padding-left: 0px;
		padding-right: 0px;
	}



}

	html.responsive.touch body.v6.newonsteam .newonsteam_headercaps .newonsteam_headercap img {
		width: 100%;
	}

	html.responsive.touch .newonsteam .home_ctn {
		padding-left: 0px;
		padding-right: 0px;
	}




@media screen and (max-width: 910px )
{
	.underfive {
		position: relative;
		bottom: auto;
		width: auto;
	}

	.newonsteam_headercaps .newonsteam_headercap {
		width: calc( 50% - 10px );
	}

	html.responsive .home_tab_bg {
		left: calc(100% - 664px - 66px);
	}

}

@media screen and (max-width: 560px)
{
	body.v6.newonsteam .newonsteam_headercaps a:first-child {
		margin-right: 0;
	}

	.newonsteam_headercaps .newonsteam_headercap {
		width: auto;
		display: block;
		margin: 15px 0;
	}

	body.v6.newonsteam .newonsteam_headercaps .newonsteam_headercap img {
		width: 100%;
	}
}


body.v6.newonsteam .page_header_ctn {
	margin-bottom: -50px;
}

body.v6.newonsteam .discovery_queue_ctn.home_ctn {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,1+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

	padding-bottom: 10px;
}
body.v6.newonsteam .discovery_queue_ctn.home_ctn .discovery_queue_h2 {
	margin-top: 20px;
}


body.v6.newonsteam .top_capsules.page_ctn {
	margin-bottom: 20px;
}

.stats_slider{
	width: 100%;
	min-width: 540px;
}